@model Sopro.Models.Vertrag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Vertrag</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Typ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Typ_2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Typ_2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Datum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Datum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Beginn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Beginn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ende)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ende)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Zurück zur Übersicht", "overview")
    </p>
</body>
</html>
